@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .custom-button {
    @apply bg-[#FFF6DF] border-2 border-[#222020] rounded-full shadow-custom text-[#222020] cursor-pointer inline-block font-bold text-lg px-1 py-1 text-center no-underline select-none hover:bg-white active:shadow-inner active:translate-x-[2px] active:translate-y-[2px] sm:min-w-[120px] sm:px-6;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffc12b;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: #454343;
}

a {
  text-decoration: none;
  color: inherit;
}

input:focus {
  outline: none;
}

.custom-stroke {
  -webkit-text-stroke: 2px #222020;
  text-stroke: 2px #222020;
}
